.contact{
	display:block;
	width: 75%;
	min-height: 98%;
    text-align: justify;
    background-color: rgba(1,1,1,0.2);
    border-radius: 25px/25px;
    justify-content: flex-center;
    align-content: center;
	padding: 1%;
	margin-left: 12.5%;
	margin-right: 12.5%;
	margin-bottom: 1%;
	margin-top: 1%;
	border-width:0.5em;
 	border-style:solid;
 	border-color:rgb(230,93,57);
       }
.contact h1{
	text-align: center;
	color: red;
}
.contact h2{
	padding-left:5%;
}
.contact p{
	padding-left: 4%;
	padding-right: 4%;
}
.contact fieldset{
	border:none;
}
.contact form{
	text-align: left;
}
.contact legend{
	text-align:center;
	font-size: 1em;
	margin-bottom: 0em;
}
.contact textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}